<!doctype html>{% load staticfiles %}
<head>
  <title>EPMMF</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <meta name="description" content="The Estes Park Mountain Music Festival is an music event that bennifits the Estes Park High School and Middle School bands. the bands include Front Country, Rapidgrass, Bonnie and the Clydes, Monocle, and Bella Betts and Will Thomas,">
  <meta name="keywords" content="EPMMF, Estes Park, Estes, Park, Colorado, Music, Festival, Bluegrass, Estes Park High School, EPHS, Band, Fundraiser, Front Country, Rapidgrass, Bonnie and the Clydes, Monocle, Bella Betts, Will Thomas">
  {% block head %}{% endblock head %}
<head>
<a href="/"><body style="background-image: url('{% static "img/EPMMFLogo.PNG"%}');"></a>
  <nav>
    <div class="container_top">
      <div class="title_cont">
        <a class="title" href="/"></a>
      </div>
    </div>
  </nav>
  <div class='back'>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </div>
  {% block scripts %}{% endblock scripts %}
</body>
