<!doctype html>{% load staticfiles %}
<head>
  <title>EPMMF</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <meta name="description" content="The Estes Park Mountain Music Festival">
  <meta name="keywords" content="EPMMF, Estes Park, Estes, Park, Colorado, Music, Festival, Bluegrass, Estes Park High School, EPHS, Band, Fundraiser">
  {% block head %}{% endblock head %}
<head>
<body style="background-image: url('{% static "img/banjo.PNG"%}');">
  <nav>
    <div class="container_top">
      <div class="title_cont">
        <a class="title" href="/">Estes Park Mountain Music Festival</a>
      </div>
    </div>
  </nav>
  <div class='back'>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </div>
  {% block scripts %}{% endblock scripts %}
</body>
