{% extends '_partials/base.html' %}

{% block content %}
<p class='intro'>
  The Estes Park Mountain Music Festival on Saturday, May 13 at the Estes Park Events Complex will be a first annual musical extravaganza featuring national and local bands and fun for everyone.  The festival is an all day event from 12 – 9pm, with plenty of time to enjoy lots of great music, food and beverages, vendors and family friendly activities.
  <br><br>Lodging packages are coming soon, so make it a weekend getaway and soak up all the fun!
</p>
    <h2 class='top'>Bands List</h2>

    {% for band in bands %}
      <div class='list'>
        <p><a href="{% url 'band' pk=band.pk %}">{{ band.name }}</a></p>
        <p> {{ band.short_description}}</p>
      </div>
    {% endfor %}
    <a class="button" href="https://tickets.vendini.com/ticket-software.html?t=tix&e=4a8dceb6371e8ddd8903c8bb768528df&vqitq=58875319-6f87-45cd-95f3-8014aada4618&vqitp=6239ddb9-9a90-416d-a921-5693519c5afc&vqitts=1487803908&vqitc=vendini&vqite=itl&vqitrt=Safetynet&vqith=3692c0489adbf7b3cdf6860b5c164dd6" data-href="overlay.php?url=https://tickets.vendini.com/ticket-software.html?t=tix&e=4a8dceb6371e8ddd8903c8bb768528df&vqitq=58875319-6f87-45cd-95f3-8014aada4618&vqitp=6239ddb9-9a90-416d-a921-5693519c5afc&vqitts=1487803908&vqitc=vendini&vqite=itl&vqitrt=Safetynet&vqith=3692c0489adbf7b3cdf6860b5c164dd6" class="OverlayTrigger">Buy Tickets</a>
    <h2 class='top'>Our Sponsors</h2>
    {% for sponsor in sponsors %}
      <div class='list'>
        <p class='sponsor'><a href="{% url 'sponsor' pk=sponsor.pk %}">{{ sponsor.name }}</a></p>
        <p> {{ sponsor.short_description}}</p>
      </div>
    {% endfor %}
    <h3>The Estes Park Mountain Music Festival is a Fundraiser for the Estes Park School District Music Program</h2>
    <h4>The music program includes the Elementary School Music Class, the Middle School Band and Choir, and High School Band and Choir, including the 2015 and 2016 1A state marching band champions.</h3>
    <a href="/ourstory/" class='button'>Click here to see more about our mission</a>

{% endblock content %}
{% block scripts %}
{% endblock scripts %}
