{% extends '_partials/base.html' %}

{% block content %}
<h2>The Estes Park Mountain Music Festival is a Fundraiser for the Estes Park School District Music Program</h2>
<h3>That music program includes the Elementary School Music Class, the Middle School Band and Choir, and High School Band and Choir, including the 2015 and 2016 1A state marching band champions.</h3>
<a href="/ourstory/" class='button'>Click here to see more about our mission</a>
<p>
  The Estes Park Mountain Music festival will be held on May 13th 2017 at the Estes Park Event Complex.<br>
</p>
    <h2>Bands List</h2>

    {% for band in bands %}
      <div class='list'>
        <p><a href="{% url 'band' pk=band.pk %}">{{ band.name }}</a></p>
        <p> {{ band.short_description}}</p>
      </div>
    {% endfor %}
    <h2>Our Sponsors</h2>
    {% for sponsor in sponsors %}
      <div class='list'>
        <p><a href="{% url 'sponsor' pk=sponsor.pk %}">{{ sponsor.name }}</a></p>
        <p> {{ sponsor.short_description}}</p>
      </div>
    {% endfor %}
  <a href="#" class="button">Buy Tickets Here</a>

{% endblock content %}
