{% extends '_partials/base.html' %}
{% block content %}
{% load staticfiles %}

    <div id="slideShowContainer">

        <div id="slideShow">

        	<ul>
                <li><img src='{% static 'img/carasel/160813_Amundson_0159.JPG' %}' width="100%" alt="Band" /></li>
                <li><img src='{% static 'img/carasel/160813_Amundson_1238.JPG' %}' width="100%" alt="Band" /></li>
                <li><img src='{% static 'img/carasel/160813_Amundson_1259.JPG' %}' width="100%" alt="Band" /></li>
                <li><img src='{% static 'img/carasel/160813_Amundson_1278.JPG' %}' width='100%' alt='Band' /></li>
                <li><img src='{% static 'img/carasel/20161031_093545.jpg' %}' width='100%' alt='Band' /></li>
                <li><img src='{% static 'img/carasel/20161031_093933.jpg' %}' width='100%' alt='Band' /></li>
                <li><img src='{% static 'img/carasel/20161031_213310.jpg' %}' width='100%' alt='Band' /></li>
                <li><img src='{% static 'img/carasel/20161031_213703.jpg' %}' width='100%' alt='Band' /></li>
                <li><img src='{% static 'img/carasel/20161031_214304.jpg' %}' width='100%' alt='Band' /></li>
                <li><img src='{% static 'img/carasel/20161104_191531.jpg' %}' width='100%' alt='Band' /></li>
                <li><img src='{% static 'img/carasel/20161207_192127.jpg' %}' width='100%' alt='Band' /></li>
                <li><img src='{% static 'img/carasel/DSC_1304-XL.jpg' %}' width='100%' alt='Band' /></li>
                <li><img src='{% static 'img/carasel/DSC_1318-XL.jpg' %}' width='100%' alt='Band' /></li>
                <li><img src='{% static 'img/carasel/DSC_1321-XL.jpg' %}' width='100%' alt='Band' /></li>
                <li><img src='{% static 'img/carasel/IMG_4318 (1).JPG' %}' width='100%' alt='Band' /></li>
                <li><img src='{% static 'img/carasel/IMG_4322 (1).JPG' %}' width='100%' alt='Band' /></li>
                <li><img src='{% static 'img/carasel/IMG_4327 (1).JPG' %}' width='100%' alt='Band' /></li>
                <li><img src='{% static 'img/carasel/unnamed-1.jpg' %}' width='100%' alt='Band' /></li>



            </ul>

        </div>

        <a id="nextLink" href="#"><<</a>

    </div>
    <div>

    </div>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="js/jquery.rotate.js"></script>
    <script src="{% static "js/script.js" %}"></script>
    <p>The main mission of the Estes Park Mountain Music Festival is to raise money for the music programs at the Estes Park School District. These programs include elementary music classes, award winning middle and high school choirs, notable middle and high school bands, as well as the 2015 and 2016 1A State Marching Band Champion. Our goal is to raise enough money that these programs can continue to excel and we can create an environment that will allow us to make the arts a key part of our students education. Things like new music, new instruments, additional opportunities to learn and perform, and the ability to pay more professionals to work with our students are just a few things that will come from the influx of funds we hope to obtain through this event. 
<br>In addition to a fundraiser, with this event we are also working to bridge the gaps between the educational and professional sides of the music scene. We will expose students to the real world of music outside their band or choir classrooms.
<br>The School District partners with the Estes Arts District to create a supportive environment for music and the arts in Estes Park.
</p>
{% endblock content %}
